<!DOCTYPE html>
<html lang="en">
	<head>
		<title>CountMeIn</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
		<script type="text/javascript" href="js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
		    <div class="row">
				<div class="page-header">
					<ul class="nav nav-pills pull-right">
						<li><a href=""><i class="fa fa-group"></i> <span class="visible-md-inline visible-lg-inline">Groups</span></a></li>
						<li><a href=""><i class="fa fa-cogs"></i> <span class="visible-md-inline visible-lg-inline">My Account</span></a></li>
					</ul>
				    <h1><i class="fa fa-check-square"></i> SelfCheck</h1>
				</div>
		    </div>
		    <div class="row">
		    	<form class="form">
			    	<div class="col col-lg-9" style="padding-top:5px; padding-bottom:5px;">
			    		<input id="member_search" class="form-control" type="search" placeholder="Search for a user..." />
			    	</div>
			    	<div class="col col-lg-3" style="padding-top:5px; padding-bottom:5px;">
			    		<div class="btn-group">
						   <button type="button" class="btn btn-default" selected>All</button>
						   <button type="button" class="btn btn-default">Checked</button>
						   <button type="button" class="btn btn-default">Unchecked</button>
						</div>
			    	</div>
		    	</form>
		    </div>
		    <div class="row">
		    	<table class="table table-hover">
				    <thead>
				      <tr>
				        <th>Username</th>
				        <th>Email</th>
				        <th>Phone</th>
				        <th>Action</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr>
				        <td class="success">John_Doe</td>
				        <td class="success">def@somemail.com</td>
				        <td class="success">(555) 555-5555</td>
				        <td style="text-align: center"><button type="button" class="btn btn-danger">Uncheck</button></td>
				      </tr>      
				      <tr>
				        <td class="success">John_Doe</td>
				        <td class="success">def@somemail.com</td>
				        <td class="success">(555) 555-5555</td>
				        <td style="text-align: center"><button type="button" class="btn btn-danger">Uncheck</button></td>
				      </tr>
				      <tr>
				        <td class="danger">John_Doe</td>
				        <td class="danger">def@somemail.com</td>
				        <td class="danger">(555) 555-5555</td>
				        <td style="text-align: center"><button type="button" class="btn btn-success">Check-in</button></td>
				      </tr>
				      <tr>
				        <td class="success">John_Doe</td>
				        <td class="success">def@somemail.com</td>
				        <td class="success">(555) 555-5555</td>
				        <td style="text-align: center"><button type="button" class="btn btn-danger">Uncheck</button></td>
				      </tr>
				      <tr>
				        <td class="danger">John_Doe</td>
				        <td class="danger">def@somemail.com</td>
				        <td class="danger">(555) 555-5555</td>
				        <td style="text-align: center"><button type="button" class="btn btn-success">Check-in</button></td>
				      </tr>
				      <tr>
				        <td class="danger">John_Doe</td>
				        <td class="danger">def@somemail.com</td>
				        <td class="danger">(555) 555-5555</td>
				        <td style="text-align: center"><button type="button" class="btn btn-success">Check-in</button></td>
				      </tr>
				      <tr>
				        <td class="success">John_Doe</td>
				        <td class="success">def@somemail.com</td>
				        <td class="success">(555) 555-5555</td>
				        <td style="text-align: center"><button type="button" class="btn btn-danger">Uncheck</button></td>
				      </tr>
					</tbody>
				<table>
		    </div>
		</div>
	</body>
</html>
