<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CountMeIn</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'check_in/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'check_in/css/bootstrap-theme.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'check_in/css/font-awesome.min.css' %}">		
		<link rel="stylesheet" type="text/css" href="{% static 'check_in/css/base.css' %}">		
		<script type="text/javascript" src="{% static 'check_in/js/jquery-3.1.1.min.js' %}"></script>	
		<script type="text/javascript" src="{% static 'check_in/js/bootstrap.min.js' %}"></script>	
		<script type="text/javascript" src="{% static 'check_in/js/signin.js' %}"></script>
	</head>
	<body>	
        <!--Begin navbar-->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#headerNavbar" aria-controls="headerNavbar" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>					
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/"><i class="fa fa-check-square"></i> CountMeIn</a>
				</div>
				<div role="navigation" class="collapse navbar-collapse" id="headerNavbar">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
						<li><a data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
					</ul>	
				</div>	
			</div>
		</nav>
		<!--Left side of navbar-->
		<div class="container">
		    <div class="row">
				<div class="page-header">
				    <h1><i class="fa fa-check-square"></i> CountMeIn</h1>
				</div>
		    </div>
		{% block content %}{% endblock %}
		</div>
		<!-- Begin Modal-->
		<div class="modal fade" id="loginModal" role="dialog">
            <div class="modal-dialog">
            
            <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Login</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger alert-dismissible loginAlert invisible" role="alert" id='loginAlert'>Invalid username or password</div>
                        <div class="input-group">
                            <span class="input-group-addon" id="loginEmailLabel">Email</span>
                            <input type="text" class="form-control" id="loginEmail" name="loginEmail" aria-describedby="loginEmailLabel"/>
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon" id="loginPasswordLabel">Password</span>
                            <input type="password" class="form-control" id="loginPassword" name="loginPassword" aria-describedby="loginPasswordLabel"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id='loginSubmit' name='loginSubmit'>Login</button>
                    </div>
                </div>
            
            </div>
        </div>
	</body>
</html>
