<!--Determine which template to be used based on whether user is authenticated or not-->
{% extends user.is_authenticated|yesno:"project/authed_base.html,project/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="page-header">
            <h1><i class="fa fa-check-square"></i> CountMeIn</h1>
        </div>
    </div>
    <div class="row">
        <h1>Welcome to the future of event check-ins.</h1>
        <h3>CountMeIn seeks to aid the event check-in process by allowing users to check themselves in online.</h3>
    </div>
</div>
{% endblock %}
